.myCustomButton1 {
  margin-right: 0.125rem;
  margin-left:47rem;
  margin-top:15rem;
  font-weight: bold;
}

.myCustomButton2 {
  margin-right: 0.125rem;
  margin-left:50rem;
  margin-top:1rem;
  font-weight: bold;
}
.myCustomButton3 {
  margin-right: 0.125rem;
  margin-left:30rem;
  margin-top:1rem;
  font-weight: bold;
}

.myCustomButton4 {
  margin-right: 30rem;
  margin-left:20rem;
  margin-top:1rem;
  margin-bottom:5rem;
  font-weight: bold;
}
